#!/bin/bash
{% set executable = "tess" %}
{% set pause = "tessdb_pause" %}
{% set pause = "tessdb_resume" %}
{% for location in locations %}
### {{ location.tess }} ###
sudo {{ executable }} location create "{{ location.site_name }}" --longitude "{{ location.longitude }}" --latitude "{{ location.latitude }}" --elevation "{{ location.elevation }}" --dbase "{{ location.database }}"
{% if location.owner is defined -%}
sudo {{ executable }} location update "{{ location.site_name }}" --dbase "{{ location.database }}" --owner "{{ location.owner }}"
{% endif -%}
{% if location.email is defined -%}
sudo {{ executable }} location update "{{ location.site_name }}" --dbase "{{ location.database }}" --email "{{ location.email }}"
{% endif -%}
{% if location.org is defined -%}
sudo {{ executable }} location update "{{ location.site_name }}" --dbase "{{ location.database }}" --org "{{ location.org }}"
{% endif -%}
sudo {{ executable }} instrument assign --name {{ location.tess }} --location "{{ location.site_name }}" --dbase "{{ location.database }}"
sudo {{ executable }} instrument enable -n {{ location.tess }}  --dbase "{{ location.database }}"
{% endfor -%}
