#!/bin/bash

{% for location in locations %}
### {{ location.tess}} ###
tess location create "{{ location.site_name }}"  --dbase "{{ location.database }}"
tess location update "{{ location.site_name }}" --longitude "{{ location.longitude }}" --latitude "{{ location.latitude }}" --elevation "{{ location.elevation }}" --dbase "{{ location.database }}"
{% if location.country is defined -%}
tess location update "{{ location.site_name }}" --dbase "{{ location.database }}" --country "{{ location.country }}"
{% endif -%}
{% if location.location is defined -%}
tess location update "{{ location.site_name }}" --dbase "{{ location.database }}" --location "{{ location.location }}"
{% endif -%}
{% if location.tzone is defined -%}
tess location update "{{ location.site_name }}" --dbase "{{ location.database }}" --tzone "{{ location.tzone }}"
{% endif -%}
{% if location.owner is defined -%}
tess location update "{{ location.site_name }}" --dbase "{{ location.database }}" --owner "{{ location.owner }}"
{% endif -%}
{% if location.email is defined -%}
tess location update "{{ location.site_name }}" --dbase "{{ location.database }}" --email "{{ location.email }}"
{% endif -%}
{% if location.zipcode is defined -%}
tess location update "{{ location.site_name }}" --dbase "{{ location.database }}" --zipcode "{{ location.zipcode }}"
{% endif -%}
{% if location.org is defined -%}
tess location update "{{ location.site_name }}" --dbase "{{ location.database }}" --org "{{ location.org }}"
{% endif -%}
tess instrument assign {{ location.tess}} "{{ location.site_name }}" --dbase "{{ location.database }}"
{% if location.operable -%}
tess instrument enable {{ location.tess}}  --dbase "{{ location.database }}"
{% endif -%}
{% endfor -%}